# Virtual Environment
.venv/
venv/
ENV/

# Environment Secrets
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit config / cache
.streamlit/
